.git
.next
node_modules
out

.env
.env.local
.env*.local

ml_service/.venv
ml_service/model_pipeline.joblib
ml_service/__pycache__
ml_service/mlruns
ml_service/mlartifacts
ml_service/model_uri.txt
ml_service/artifacts

__pycache__
*.pyc
